@font-face {
  font-family: "iconfont"; /* Project id 3572324 */
  src: url('iconfont.woff2?t=1659860757712') format('woff2'),
       url('iconfont.woff?t=1659860757712') format('woff'),
       url('iconfont.ttf?t=1659860757712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei2:before {
  content: "\e606";
}

.icon-shouye:before {
  content: "\e62e";
}

.icon-49:before {
  content: "\e63c";
}

.icon-dianpu:before {
  content: "\e601";
}

.icon-iconfontscan:before {
  content: "\e602";
}

.icon-xiaoxi:before {
  content: "\e634";
}

.icon-gouwuche:before {
  content: "\e63f";
}

.icon-jindouyindou01:before {
  content: "\e603";
}

.icon-fenxiang:before {
  content: "\e604";
}

.icon-fanhui:before {
  content: "\e605";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-fenlei1:before {
  content: "\e611";
}

.icon-wode:before {
  content: "\e62f";
}

.icon-liwu:before {
  content: "\e633";
}

.icon-gouwuche1:before {
  content: "\e70b";
}

.icon-shoucang:before {
  content: "\e8b9";
}

.icon-zhankai:before {
  content: "\e640";
}

